.textCard {
  font-size: 3.5em;
  align-content: center;
  text-align: center;
  margin-top: 2%;
  margin-bottom: 2%;
  display: block;
  /* position: absolute;
  left: 50%; */
  width: 100%;
  z-index: 10;

  background: -webkit-linear-gradient(
    -45deg,
    #ee7752,
    #e73c7e,
    #23a6d5,
    #23d5ab
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 400% 400%;
  animation: gradient 30s ease infinite;
}

.phases-image {
  width: 15vw !important;
  box-shadow: 0 2px 10px 1px rgba(0, 0, 0, 0.082) !important;
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
  border: solid 1px rgba(22, 14, 0, 0.068);
  margin: 2vh 4vw;
  margin-bottom: 0px;
  padding: 1.2vh 0.7vw 6vh 0.7vw;
}

.items {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

/* .item {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  margin: 5px;
  cursor: pointer;
  background-color: #fff;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.02),
    inset 0 0px 0px 1px rgba(0, 0, 0, 0.07);
  transform: translateZ(0);
} */

@media only screen and (max-width: 600px) {
  .phases-image {
    width: 8rem !important;
    box-shadow: 0 2px 10px 1px rgba(0, 0, 0, 0.082) !important;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    border: solid 1px rgba(22, 14, 0, 0.068);
    margin: 2vh 4vw;
    margin-bottom: 0px;
    padding: 0.8vh 1.2vw 3.5vh 1.2vw;
  }
}
