/** @format */
.supplies__button {
    display: flex;
    justify-content: center;
    margin: 10px;
    transition: ease-in-out .2s,
}

.supplies__button > button {
    margin: 10px;
    transition: ease-in-out .2s,
}

.supplies__body {
    display: flex;
    justify-content: center;
    transition: ease-in-out .2s,
}

.MuiCardMedia-root{
    background-size: contain !important;    
}

.cardsDiv_supply{
    display: grid;
    grid-gap: 5px;
    grid-row-gap: 40px;
    justify-content: center;
    grid-template-columns: repeat(auto-fill, minmax(16em, 1fr));
    grid-template-rows: auto;
    grid-auto-rows: 300px !important;
    justify-items: center;
}

@media only screen and (max-width: 600px) {

    .supplies__button    .MuiButton-label{
        font-size: .7em;
        margin-left: 30%;
        margin-right: 30%;
    }

    .supplies__button{
        overflow-y: scroll !important;
        justify-content: unset !important;
        /* min-width: 100px; */
        /* padding-left: 10%; */
    }

    .supplies__button > button {
        min-width: fit-content;
    }

    .supplies__button::-webkit-scrollbar {
        display: none;
    }
}