#containerHeader {
    display: flex;
    height: 5%;
    margin-left: 3%;
    margin-top: 1%;
}

.Marquee:hover {
    animation-play-state: paused !important;
}

.slick-dots li button:before {
    color: #fff;
    opacity: 0.5;
}

.slick-dots li.slick-active button:before {
    opacity: 0.75;
    color: #fff;
    font-size: 12px;
}

.slick-prev:before,
.slick-next:before {
    color: #e6e6e6;
}

.slick-dots li button:before {
    color: rgba(4, 171, 176, 0.22);
    line-height: 10px;
    font-size: 10px;
    margin-top: 2vw;
}

.slick-dots li.slick-active button:before {
    color: rgba(4, 171, 176, 0.51) !important;
}
