.introduction {
  width: 85%;
  margin: 0 auto;
}

.research_vs_internship {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
}

.card {
  background: rgba(239, 239, 239, 0.5);
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 65px;
  border-radius: 20px;
  line-height: 28px;
}

.card h1 {
  text-align: center;
  font-size: 34px;
  color: #04abb0;
  font-weight: 900;
  margin-bottom: 30px;
  margin-top: 10px;
}

.card:first-of-type {
  margin-right: 30px;
}
.card:last-of-type {
  margin-left: 30px;
}

.vs {
  color: #03ccac !important;
  background: white;
  padding: 40px;
  border-radius: 50%;
  font-size: 50px;
  font-weight: 900;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.card li {
  margin: 10px 0;
}
