.main_heading {
  text-align: center;
  text-transform: uppercase;
  font-size: 40px;
  font-family: 'Poppins', sans-serif;
  padding: 30px;
  padding-bottom: 40px;
}

.sub_heading {
  font-size: 20px;
  text-align: center;
  color: rgba(0, 0, 0, 0.63);
  margin: 0;
  padding-bottom: 20px;
}

.cardgrid {
  display: grid;
  width: 90%;
  margin: 0 auto;
  margin-bottom: 50px;
  grid-gap: 5px;
  grid-row-gap: 40px;
  justify-content: center;
  grid-template-columns: repeat(auto-fill, minmax(16em, 1fr));
  grid-template-rows: auto;
  grid-auto-rows: 300px !important;
  justify-items: center;
}

.MuiPaper-rounded {
  border-radius: 10px;
}

@media only screen and (max-width: 600px) {
  .cardgrid {
    width: 100%;
  }
}
