<!DOCTYPE html>

<head>
    <meta charset="utf-8">
<title>Alumni Map</title>
<meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no">

    <script src="https://api.mapbox.com/mapbox-gl-js/v2.9.1/mapbox-gl.js"></script>
    <link
      href="https://api.mapbox.com/mapbox-gl-js/v2.9.1/mapbox-gl.css"
      rel="stylesheet"
    />

<style>
body { margin: 0; padding: 0; }
#map { position: absolute; top: 0; bottom: 0; width: 100%; }

.marker {
display: block;
border: none;
border-radius: 50%;
cursor: pointer;
padding: 0;
background-size: cover;
transition: padding .3s linear;
}

.marker:hover {
border: solid 2px white;
padding: 0.3%;
z-index: 100;
}

.mapbox-logo{ display: none; } .mapboxgl-ctrl-logo { display: none !important; } .mapbox-improve-map { display: none; } .mapboxgl-ctrl-compass { display: none; }

#btn-spin {
        font: bold 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
        background-color: #3386c0;
        color: #fff;
        position: absolute;
        top: 20px;
        left: 50%;
        z-index: 1;
        border: none;
        width: 200px;
        margin-left: -100px;
        display: block;
        cursor: pointer;
        padding: 10px 20px;
        border-radius: 3px;
        }
        #btn-spin:hover {
        background-color: #4ea0da;
        }

        .mapboxgl-popup {
max-width: 400px;
border-radius: 12px;
font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
}

.mapboxgl-popup-close-button{display: none;}

</style>

</head>
<body>

        <div id="map"></div>

        <button id="btn-spin">Pause rotation</button>
        <script>
            mapboxgl.accessToken = 'pk.eyJ1Ijoic3BhY3NwYWRlIiwiYSI6ImNsOHJnZ2ZreTA5M2kzeXBjZjd6dGFiNGEifQ.qT1yNywVrDbqC4-wyZcsbg';
        
            const geojson = {
'type': 'FeatureCollection',
'features': [
{
'type': 'Feature',
'properties': {
  
'message': '<div style="display: flex; text-align: center; align-items: center; flex-direction: column; padding: 3%; bottom-margin: 0%"><div style="display:flex; flex-direction:row; width:100%; justify-content: center"><img src="https://pro2-bar-s3-cdn-cf2.myportfolio.com/591d04f256aa901b6f95d035a778faaa/3d1310a7-4ae8-48e4-80eb-a617774aec45_rw_600.gif?h=2c9943195f657faf44bef4c5fb1fee9a" height="20px" width="20px" style="border-radius: 50%; margin-right: 2%"><strong style="font-size:12px">First Last Name</strong></div>London, UK | Grad\'22<p style="margin-bottom: 0">He is a software developer at Hudson River Trading since August 15, 2022</p></div>',
'iconSize': [30, 30],
'backgroundImage':'https://pro2-bar-s3-cdn-cf2.myportfolio.com/591d04f256aa901b6f95d035a778faaa/3d1310a7-4ae8-48e4-80eb-a617774aec45_rw_600.gif?h=2c9943195f657faf44bef4c5fb1fee9a'
},
'geometry': {
'type': 'Point',
'coordinates': [77.21667, 28.66667]
}
},
{
'type': 'Feature',
'properties': {
'message': '<div style="display: flex; text-align: center; align-items: center; flex-direction: column; padding: 3%; bottom-margin: 0%"><div style="display:flex; flex-direction:row; width:100%; justify-content: center"><img src="https://pro2-bar-s3-cdn-cf6.myportfolio.com/591d04f256aa901b6f95d035a778faaa/adbe80a2-b9cd-4690-a4ad-9acc6e41fe84_rw_600.gif?h=3333e68bab16aa222f7a5c5711ea2dd9" height="20px" width="20px" style="border-radius: 50%; margin-right: 2%"><strong style="font-size:12px">First Last name</strong></div>Egypy, Africa | Grad\'21<p style="margin-bottom: 0">He is a software engineer at XYZ since September 15, 2021</p></div>',
'iconSize': [30, 30],
'backgroundImage':'https://pro2-bar-s3-cdn-cf6.myportfolio.com/591d04f256aa901b6f95d035a778faaa/adbe80a2-b9cd-4690-a4ad-9acc6e41fe84_rw_600.gif?h=3333e68bab16aa222f7a5c5711ea2dd9'
},
'geometry': {
'type': 'Point',
'coordinates': [72.877393, 19.07599]
}
},
{
'type': 'Feature',
'properties': {
'message': '<div style="display: flex; text-align: center; align-items: center; flex-direction: column; padding: 3%; bottom-margin: 0%"><div style="display:flex; flex-direction:row; width:100%; justify-content: center"><img src="https://i.pinimg.com/originals/65/da/8d/65da8d4a513cf2aa7375cfd0e28aed65.gif" height="20px" width="20px" style="border-radius: 50%; margin-right: 2%"><strong style="font-size:12px">First Last name</strong></div>Egypt, Africa | Grad\'21<p style="margin-bottom: 0">She is a software engineer at XYZ since September 15, 2021</p></div>',
'iconSize': [30, 30],
'backgroundImage':'https://i.pinimg.com/originals/65/da/8d/65da8d4a513cf2aa7375cfd0e28aed65.gif'
},
'geometry': {
'type': 'Point',
'coordinates': [12.482932, 41.89332]
}
},
{
'type': 'Feature',
'properties': {
'message': '<div style="display: flex; text-align: center; align-items: center; flex-direction: column; padding: 3%; bottom-margin: 0%"><div style="display:flex; flex-direction:row; width:100%; justify-content: center"><img src="https://pro2-bar-s3-cdn-cf6.myportfolio.com/591d04f256aa901b6f95d035a778faaa/adbe80a2-b9cd-4690-a4ad-9acc6e41fe84_rw_600.gif?h=3333e68bab16aa222f7a5c5711ea2dd9" height="20px" width="20px" style="border-radius: 50%; margin-right: 2%"><strong style="font-size:12px">First Last name</strong></div>Egypt, Africa | Grad\'21<p style="margin-bottom: 0">She is a software engineer at XYZ since September 15, 2021</p></div>',
'iconSize': [30, 30],
'backgroundImage':'https://pro2-bar-s3-cdn-cf6.myportfolio.com/591d04f256aa901b6f95d035a778faaa/adbe80a2-b9cd-4690-a4ad-9acc6e41fe84_rw_600.gif?h=3333e68bab16aa222f7a5c5711ea2dd9'
},
'geometry': {
'type': 'Point',
'coordinates': [31.23944, 30.05611]
}
},
{
'type': 'Feature',
'properties': {
'message': 'Bar',
'iconSize': [30, 30],
'backgroundImage':'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQf3hlXz88fsiZjek2Y63ZjD6tsgslwgsvQDBYZ8UVwUty3NPyKfZS3Ea3IyBVGEa8Y66E&usqp=CAU'
},
'geometry': {
'type': 'Point',
'coordinates': [-0.127647, 51.507322]
}
},{
'type': 'Feature',
'properties': {
'message': 'Bar',
'iconSize': [30, 30],
'backgroundImage':'https://i.pinimg.com/originals/65/da/8d/65da8d4a513cf2aa7375cfd0e28aed65.gif'
},
'geometry': {
'type': 'Point',
'coordinates': [11.575382, 48.137108]
}
},
{
'type': 'Feature',
'properties': {
'message': 'hello?',
'iconSize': [30, 30],
'backgroundImage':'https://mir-s3-cdn-cf.behance.net/project_modules/disp/a9fe7f93570193.5e697092c57b4.gif'
},
'geometry': {
'type': 'Point',
'coordinates': [6.129799, 49.611277]
}
},
{
'type': 'Feature',
'properties': {
'message': 'Baz',
'iconSize': [30, 30],
'backgroundImage':'https://i.pinimg.com/originals/0d/c2/6e/0dc26e5309ae3dd9db2b9b7f6534aaec.gif'
},
'geometry': {
'type': 'Point',
'coordinates': [77.5913, 12.97912]

}
}
]
};
        const map = new mapboxgl.Map({
        container: 'map',
        zoom: 1.5,
        center: [-90, 40],
        // Choose from Mapbox's core styles, or make your own style with Mapbox Studio
        // style: 'mapbox://styles/mapbox/outdoors-v11',
        style: 'mapbox://styles/spacspade/cl8ri7i4q002814t5pwfrche0',
        projection: 'globe' // Display the map as a globe
    

        });
         
        map.on('style.load', () => {
        map.setFog({}); // Set the default atmosphere style
        });
         
        // The following values can be changed to control rotation speed:
         
        // At low zooms, complete a revolution every two minutes.
        const secondsPerRevolution = 160;
        // Above zoom level 5, do not rotate.
        const maxSpinZoom = 5;
        // Rotate at intermediate speeds between zoom levels 3 and 5.
        const slowSpinZoom = 3;
         
        let userInteracting = false;
        let spinEnabled = true;
         
        function spinGlobe() {
        const zoom = map.getZoom();
        if (spinEnabled && !userInteracting && zoom < maxSpinZoom) {
        let distancePerSecond = 360 / secondsPerRevolution;
        if (zoom > slowSpinZoom) {
        // Slow spinning at higher zooms
        const zoomDif =
        (maxSpinZoom - zoom) / (maxSpinZoom - slowSpinZoom);
        distancePerSecond *= zoomDif;
        }
        const center = map.getCenter();
        center.lng -= distancePerSecond;
        // Smoothly animate the map over one second.
        // When this animation is complete, it calls a 'moveend' event.
        map.easeTo({ center, duration: 1000, easing: (n) => n });
        }
        }
         
        // Pause spinning on interaction
        map.on('mousedown', () => {
        userInteracting = true;
        });
         
        // Restart spinning the globe when interaction is complete
        map.on('mouseup', () => {
        userInteracting = false;
        spinGlobe();
        });
         
        // These events account for cases where the mouse has moved
        // off the map, so 'mouseup' will not be fired.
        map.on('dragend', () => {
        userInteracting = false;
        spinGlobe();
        });
        map.on('pitchend', () => {
        userInteracting = false;
        spinGlobe();
        });
        map.on('rotateend', () => {
        userInteracting = false;
        spinGlobe();
        });
         
        // When animation is complete, start spinning if there is no ongoing interaction
        map.on('moveend', () => {
        spinGlobe();
        });
         
        document.getElementById('btn-spin').addEventListener('click', (e) => {
        spinEnabled = !spinEnabled;
        if (spinEnabled) {
        spinGlobe();
        e.target.innerHTML = 'Pause rotation';
        } else {
        map.stop(); // Immediately end ongoing animation
        e.target.innerHTML = 'Start rotation';
        }
        });
         
        spinGlobe();

        
// Add markers to the map.
for (const marker of geojson.features) {
// Create a DOM element for each marker.
const el = document.createElement('div');
const width = marker.properties.iconSize[0];
const height = marker.properties.iconSize[1];
const description = marker.properties.message;
const popup = new mapboxgl.Popup({ offset: 25 }).setHTML(`${description}`);
el.className = 'marker';
// el.style.backgroundImage = `url(https://placekitten.com/g/${width}/${height}/)`;
el.style.backgroundImage = `url(${marker.properties.backgroundImage})`;
el.style.width = `${width}px`;
el.style.height = `${height}px`;
el.style.backgroundSize = '100%';
 
el.addEventListener('click', () => {
    document.getElementById('info-box')
        .innerHTML = `You clicked ${cityname}!`;

});
 


// Add markers to the map.
new mapboxgl.Marker(el)
.setLngLat(marker.geometry.coordinates)
.setPopup(popup)
.addTo(map);
}
        </script>

</html>