.react-pdf__Page__canvas {
    box-shadow: 0px 2px 15px -2px rgb(4 171 176 / 20%);
    border-radius: 12px;
}

.btn_item {
    /* background-color: rgb(4 171 176 / 20%); */
    margin-right: 5%;
    padding: 15px;
    border: none;
    border-radius: 6px;
}

.btn_item:hover {
    background-color: rgb(4 171 176);
    color: white;
    cursor: pointer;
}

.page_num {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 5%;
}

.btn_group {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    margin-top: 2%;
}
