/** @format */

.explore__cards {
  display: flex;
}

.CardActionArea{
    margin-top: 10%;
}
@media only screen and (max-width: 1000px) {

    .cardsDiv{
        display: block !important;
    }
}
.cardsDiv{
    display: flex;
    justify-content: center;
}
