/** @format */
.explore__button {
    display: flex;
    justify-content: center;
    margin: 10px;
    transition: ease-in-out .2s,
}

.explore__button > button {
    margin: 10px;
    transition: ease-in-out .2s,
}

.explore__body {
    display: flex;
    justify-content: center;
    transition: ease-in-out .3s,
}