#bg{
    background: linear-gradient(90deg, #1EB0F6 6.32%, #2BD4DF 100%);
    /* height: 10vh; */
    /* position: absolute;
    bottom: 0;
    width: 100vw; */
    position: relative;
    left:0;
    bottom:0;
    right:0;
    padding: 2%;
    padding-bottom: 1%;
}

.buymeacoffeelogo{
    height: 20px;
    margin-right: 1%;
}
/* .pateronlogo{
    height: 20px;
}
.supportUsButtons{
    display: flex;
    justify-content: center;
    align-items: center;
}
 */
#supportBtn{
    margin-top: 1%;
    width: 500px;
}
.upper{
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.defaultClick{
    opacity: 1;
}

.testi2{
    display: flex;
    align-items: center;
    justify-content: center;
}

.testi2 .creatorCard a{
    text-decoration: none;
    color: #141414;
    opacity: .8;
    margin: 4%;
    transition: ease-out .4s;
}

.testi2 .creatorCard a:hover{
    transform: scale(1.2);
}

.testi2 .creatorCard{
    width: fit-content;
    margin: 2%;
    display: flex;
    padding: 12px;
    padding-right: 40px;
    background: rgba(255,255,255,.4);
    /* // background: rgba(255,255,255,.2); */
    /* // backdrop-filter: blur(100px); */
    border-radius: 65px;
    border-color: linear-gradient(90deg, #1EB0F6 6.32%, #2BD4DF 100%);
    box-shadow: 0 7px 20px 0 rgba(0, 0, 0, 0.12);
}

.testi2 .creatorCard img{
    border-radius: 50%;
    width: 32px;
    height: 32px;
    overflow: hidden;
    flex-shrink: 0;
    /* max-width: 100%; */
}

.testi2 .creatorCard p{
    /* margin: 5px; */
    color: #382f70;
    font-family: Poppins, sans-serif;
    font-size: .9em;
    font-weight: 100;
    text-align: left;
    display: flex;
    flex-direction: row;
}


.form_button{
    background: white;
    color: black;
}

.lower p{
    color: #fff;
    bottom: 0;
}

.lower{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2%;
    height: 100%;
}

.button2{
    width: 25%;
    margin: 1% !important;
    background-color: #000;
    /* -webkit-background-clip: text; */
    /* -webkit-text-fill-color: transparent; */
	 
}


.button2 .span2 {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .button2 .span2:after {
    content: '\263B';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -25px;
    transition: 0.5s;
  }
  
  .button2:hover .span2 {
    padding-right: 25px;
  }
  
  .button2:hover .span2:after {
    opacity: 1;
    right: 0;
  }


@media only screen and (max-width: 1100px) {
    .removeText{
        display: none;
    }
}

@media only screen and (max-width: 500px) {
    .testi2 .creatorCard p{
        display: none;
    }

    .testi2 .creatorCard a{
        display: none;
    }

    .testi2 .creatorCard img{
        margin-right: -15px;    
    }

    
.testi2 .creatorCard{

    padding-right: 27px;
}

.button2 .span2 {
    min-width: 350%;
    margin-bottom: 25%;
  }

  .upper{
      margin-top: 8%;
  }

  .lower{
      margin-top: 5%;
  }
}