@import 'react-vertical-timeline-component/style.min.css';


canvas {
    display: block;
    width: 100vw;
    height: 100%;
    z-index: -1;
    margin-top: 0;
  }

  .section_0 {
      height: 100h;
      margin-top: 0%;
      z-index: -1;
  }

  .section_1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* background-image: url('../Assets/landscape.jpg'); */
    height: 100vh;
    margin-top: -5%;
    background-color: #e6e6e6;
    z-index: 1;
}

/* .homePage_img {
    -webkit-filter: brightness(50%);
    filter:brightness(50%);
} */

.welcome_text {
    color: white;
    font-size: 6em;
    z-index: 5;
}


/* .vertical-timeline{
    background-color: white;
} */

/* .timeline{
    background: red;
    width: 100vw;
    margin-left: 4%;
} */

/* Line color change */
.vertical-timeline::before{
    background: rgb(33, 150, 243);
    top: 2%;
    bottom: 15%;
}


.textCard{
    font-size: 3.5em;
    align-content: center;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.year_style{
    color: rgb(33, 150, 243);
}


#stars_container{
    height: 50vh;  
    overflow: hidden;
  }

.timeline_section .nostalgia_button {
    background-color: gray;
    /* border-color: white; */
    color: white;
}

@media only screen and (max-width: 1170px) {
    .vertical-timeline--1-column .vertical-timeline-element-icon {
      width: 60px;
      height: 60px;
      left: 50%;
      margin-left: -30px;
    }

    .textCard{
        font-size: 1.8em;
    }

    .welcome_text {
        font-size: 3em;
    }

    canvas {
        margin-top: -30%;
        z-index: inherit;
      }
    
  }
