@import "react-vertical-timeline-component/style.min.css";
body {
  background: white;
}

canvas {
  display: block;
  width: 100vw;
  height: 100%;
  z-index: -1;
  margin-top: 0;
}

.section_0 {
  height: 110vh;
  margin-top: 0%;
  z-index: -1;
  position: relative;
  background-image: url("../Assets/homewallpaper.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

.section_1 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* background-image: url('../Assets/landscape.jpg'); */
  min-height: 110vh;
  /* position: relative; */
  /* width: 100vw; */
  margin-top: -15vh;
  /* background-image: url("../Assets/homewallpaper.svg"); */
  /* background-repeat: no-repeat; */
  /* background-size: cover; */
  /* background-color: white; */
  z-index: 1;
}

.welcome_text {
  color: white;
  font-size: 6em;
  z-index: 5;
}

#particles-js {
  z-index: 500;
  position: absolute;
  width: 100%;
  height: 100%;
}

/* Line color change */
.vertical-timeline {
  /* z-index: -1; */
  border-radius: 25px;
}

.vertical-timeline::before {
  background: linear-gradient(
    #ffafbc,
    #ffc2a1,
    #fbd69a,
    #034c90,
    #004e92,
    #000428
  );
  top: 1%;
  height: 86%;
  bottom: 15%;
}

.textCard {
  font-size: 3.5em;
  align-content: center;
  text-align: center;
  margin-top: 5%;
  margin-bottom: 3%;

  background: -webkit-linear-gradient(
    -45deg,
    #ee7752,
    #e73c7e,
    #23a6d5,
    #23d5ab
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 400% 400%;
  animation: gradient 30s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.year_style {
  color: rgb(33, 150, 243);
}

#stars_container {
  height: 50vh;
  overflow: hidden;
}

.containerBox {
  /* height: 70vh;   */
  /* margin-top: -15%; */
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.containerBox_content {
  padding: 1em;
}

.vertical-timeline-element {
  border-radius: 25px;
}

.vertical-timeline-element-content {
  padding: 0;
}

.vertical-timeline-element:nth-child(2) .containerBox {
  /* height: 70vh;   */
  margin-top: -14%;
  /* background: red; */
}

.vertical-timeline-element:nth-child(5) .containerBox {
  /* height: 70vh;   */
  margin-top: -35%;
  /* background: red; */
}

.imgContainer {
  max-width: 40%;
  align-self: center;
  margin: 4%;
}

.vertical-timeline-element:nth-child(4) .imgContainer {
  max-width: 30%;
  margin-left: 50%;
  margin-top: -15%;
  margin-bottom: 2%;
}

.vertical-timeline-element:nth-child(5) .imgContainer {
  max-width: 50%;
  margin-left: 45%;
  margin-top: -10%;
  margin-bottom: 1%;
}

#firstSteps {
  max-width: 100%;
}

/* .contentBox{
    margin-top: -20%;
} */

.timeline_section {
  z-index: 700;
}

.timeline_section .nostalgia_button {
  background-color: whitesmoke;
  position: absolute;
  left: 2%;
  bottom: 47%;
  opacity: 1;
  font-weight: 800;
  /* border-color: white; */
  color: black;
  padding-left: 1%;
  letter-spacing: 3px;
}

.timeline_section .nostalgia_button:hover {
  background-color: whitesmoke;
  color: black;
}

.TestiContainer {
  width: 100%;
  /* overflow: hidden; */
  margin-left: 50%;
}

@media only screen and (max-width: 1170px) {
  .vertical-timeline--1-column .vertical-timeline-element-icon {
    width: 60px;
    height: 60px;
    left: 50%;
    margin-left: -30px;
  }

  .vertical-timeline::before {
    background: linear-gradient(#ffafbc, #ffc2a1, #fbd69a, #004e92, #000428);
    height: 82%;
  }

  .textCard {
    font-size: 1.8em;
  }

  .welcome_text {
    font-size: 3em;
  }

  canvas {
    margin-top: -30%;
    z-index: inherit;
  }

  .imgContainer {
    max-width: 70%;
  }

  /* .vertical-timeline-element:nth-child(2) .containerBox{
        height: 70vh;  
        margin-top: -60%;
        background: red;
    }
    
    .vertical-timeline-element:nth-child(5) .containerBox{
        height: 70vh;  
        margin-top: -132%;
        background: red;
    } */

  .vertical-timeline-element:nth-child(5) .imgContainer {
    max-width: 80%;
    margin-left: 7%;
    margin-top: 0%;
    margin-bottom: 2%;
  }

  .timeline_section .nostalgia_button {
    background-color: whitesmoke;
    position: relative;
    left: 15%;
    bottom: 37%;
    z-index: 999 !important;
  }

  .vertical-timeline-element:nth-child(4) .imgContainer {
    max-width: 80%;
    margin-left: 7%;
    margin-top: 0%;
    margin-bottom: 2%;
  }
}

@media only screen and (max-width: 600px) {
  .vertical-timeline::before {
    height: 79%;
  }
}
