.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

.navbar__right {
    display: flex;
    align-items: center;
    padding: 0px 30px;
 
}

.navbar__right > h4 {
    font-weight: 500;
    margin-left: 15px;
}

.navbar__right > Button {
    margin-left: 15px;
    font-family: 'Poppins', sans-serif;    
}
