.heading_text {
    text-align: center;
    align-content: center;
}

.section1 {
    background-color: grey;
    margin-top: 1em;
}

.section2 {
    background-color: grey;
    margin-top: 1em;
}

.section3 {
    background-color: grey;
    margin-top: 1em;
}

.section4 {
    background-color: grey;
    margin-top: 1em;
}

.section5 {
    background-color: grey;
    margin-top: 1em;
}

.section6 {
    background-color: grey;
    margin-top: 1em;
}

.section7 {
    background-color: grey;
    margin-top: 1em;
}

.section8 {
    background-color: grey;
    margin-top: 1em;
}

.section9 {
    background-color: grey;
    margin-top: 1em;
}

.section10 {
    background-color: grey;
    margin-top: 1em;
    margin-bottom: 1em;
}