#nostalgiaCont {
  background: linear-gradient(#000428, #00010b);
  margin-top: -15vh;
  padding-bottom: 4%;
}

#stars_container {
  height: 50vh;
  overflow: hidden;
}

.heading_text {
  text-align: center;
  align-content: center;
  color: white;
  margin-top: -10%;
  font-size: 2.5em;
  font-weight: bolder;
}

.heading_desc {
  text-align: center;
  align-content: center;
  color: white;
  font-size: 1em;
  font-weight: 300;
}

.nostalgia_section {
  border-radius: 10px;
  /* min-height: 100vh; */
  height: fit-content;
  background-color: rgba(255, 255, 255, 0.1);
  /* backdrop-filter: blur(40px); */
  margin: 3%;
  margin-right: 4%;
  padding: 2%;
  overflow: hidden;
}

.nostalgia_section:nth-child(4) {
  margin-top: 10%;
}

.nostalgia_section:nth-child(13) {
  /* height: 200vh; */
  margin-bottom: 0%;
}

.nostalgia_section > h2 {
  color: white;
  font-weight: bolder;
  font-size: 1.8em;
}

.nostalgia_section__body {
  display: flex;
}

.nostalgia_section__body > p {
  color: rgb(221, 221, 221);
  font-weight: 500;
  font-size: 1.1em;
  line-height: 30px;
}

.nostalgia_section_media {
  display: grid;
  grid-gap: 10%;
  justify-content: center;
  grid-template-columns: repeat(auto-fill, minmax(400px, auto));
  grid-template-rows: auto;
  grid-auto-rows: 250px;
  justify-items: center;
  margin-bottom: 3em;
}

.nostalgia_section_media_2 {
  display: grid;
  grid-gap: 10%;
  justify-content: center;
  grid-template-columns: repeat(auto-fill, minmax(17em, auto));
  grid-template-rows: auto;
  grid-auto-rows: 250px;
  justify-items: center;
  margin-bottom: 3em;
}

.nostalgia_section > p {
  color: rgb(221, 221, 221);
  font-weight: 500;
  font-size: 1.1em;
  line-height: 30px;
}

.ImageTesti {
  margin-top: 2%;
  margin-left: 50%;
}

.nostalgia_section img {
  width: auto;
  max-height: 240px;
  border-radius: 10px;
  margin: 1%;
}

.nostalgia_section video {
  width: auto;
  max-height: 240px;
  border-radius: 10px;
  margin: 1%;
}

#textcolor {
  color: #2bd4df;
  font-weight: 700;
}

.heirarchy {
  justify-content: center;
}

@media only screen and (max-width: 1170px) {
  #nostalgiaCont {
    /* margin-top: -25%; */
  }

  .nostalgia_section {
    padding: 4%;
  }

  .nostalgia_section:nth-child(4) {
    margin-top: 30%;
  }

  .nostalgia_section > p {
    font-size: 1em;
    line-height: 30px;
  }
}

@media only screen and (max-width: 600px) {
  .nostalgia_section_media_2 {
    grid-gap: 3%;
  }

  .nostalgia_section__body {
    flex-direction: column;
  }
}
