.login {
  display: flex;
  flex-direction: column;
  background: white;
  height: 60vh;
}

.login__logo {
  display: flex;
  justify-content: space-between;
}

#logo
{
  height: fit-content;
}


#login__form {
  margin: 2%;
}

h5 {
  text-align: center;
}

.defaultClick {
  opacity: 1;
}

.login__action {
  position: relative;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

.login__heading {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  /* background: -webkit-linear-gradient(90deg, #1EB0F6 6.32%, #2BD4DF 100%); */
  /* color:red;
    background: -webkit-linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
	background-size: 400% 400%;
    animation: gradient 30s ease infinite;
    font-size: 2em; */
}

.login__buttons {
  margin-top: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.login__nameList {
  position: absolute;
  width: 100vw;
  bottom: 0;
}

.login__link {
  margin: 2%;
}

.login__form {
  background: -webkit-linear-gradient(
    -45deg,
    #ee7752,
    #e73c7e,
    #23a6d5,
    #23d5ab
  );
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 30s ease infinite;
}

.testi {
  display: flex;
  align-items: center;
  justify-content: center;
}

a {
  text-decoration: none;
  color: #141414;
  opacity: 0.8;
  margin: 3%;
}

#signIn {
  /* background: linear-gradient(90deg, #1EB0F6 6.32%, #2BD4DF 100%); */
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 30s ease infinite;
  padding: 1%;
  padding-left: 3%;
  padding-right: 3%;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  color: white;
  transition: ease-in-out 0.3s;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

#signIn:hover {
  transform: scale(1.05);
}

#guest {
  border-color: linear-gradient(90deg, #1eb0f6 6.32%, #2bd4df 100%);
  border-width: 5px;
  padding: 1%;
  padding-left: 3%;
  padding-right: 3%;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  color: linear-gradient(90deg, #1eb0f6 6.32%, #2bd4df 100%);
  transition: ease-in-out 0.3s;
}

#guest:hover {
  transform: scale(1.05);
}

.textCard2 {
  background: -webkit-linear-gradient(
    -45deg,
    #ee7752,
    #e73c7e,
    #23a6d5,
    #23d5ab
  );
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 400% 400%;
  animation: gradient 30s ease infinite;
  font-size: 4.5em;
}

.textCard3 {
  background: -webkit-linear-gradient(
    -45deg,
    #ee7752,
    #e73c7e,
    #23a6d5,
    #23d5ab
  );
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 400% 400%;
  animation: gradient 30s ease infinite;
  font-size: 1.5em;
}

@media only screen and (max-width: 500px) {
  .login__heading {
    font-size: 1em;
  }

  .login__testimonials {
    display: none;
    /* position: fixed;
        bottom: 3%;
        left:38%; */
  }

  /* .login__creators{    
        display: none;
    } */

  /* .testi .creatorCard p {
    display: none;
  }

  .testi .creatorCard a {
    display: none;
  }

  .testi .creatorCard img {
    margin-right: -15px;
  } */

  .login__action {
    position: relative;
    top: 30%;
  }

  .textCard2 {
    line-height: 1.1;
    font-size: 4.1em;
    margin-bottom: 6%;
    margin-top: 32%;
  }

  .textCard3 {
    font-size: 1.2em;
  }

  #signIn {
    padding: 3%;
    padding-left: 5%;
    padding-right: 5%;
  }

  #guest {
    padding: 3%;
    padding-left: 5%;
    padding-right: 5%;
  }
}
