.login {
  display: flex;
  flex-direction: column;
  background: white;
  /* background-image: url("../Assets/bg.jpg");
    background-size: cover; */
  height: 100vh;
}

h5 {
  text-align: center;
}

.memberText {
  padding: 10px auto !important;
  margin-left: 10px !important;
  margin-right: 10px !important;
}

.defaultClick {
  opacity: 1;
}

.team {
  display: flex;
  align-items: center;
  justify-content: center;
}

.creators {
  display: flex;
  align-items: center;
  justify-content: center;
}

.creators .creatorCard a {
  text-decoration: none;
  color: #141414;
  opacity: 0.8;
  margin-right: -10px;
  transition: ease-out 0.4s;
}

.creators .creatorCard a:hover {
  transform: scale(1.2);
}

.creators .creatorCard {
  width: fit-content;
  min-width: 120px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 12px 40px 12px 12px;
  /* padding-right: 40px;
  padding-top: -10px;
  padding-bottom: -10px; */
  background: rgba(255, 255, 255, 0.4);
  border-radius: 65px;
  border-color: linear-gradient(90deg, #1eb0f6 6.32%, #2bd4df 100%);
  box-shadow: 0 7px 20px 0 rgba(0, 0, 0, 0.12);
}

.creators .creatorCard img {
  border-radius: 50%;
  width: 32px;
  height: 32px;
  overflow: hidden;
  flex-shrink: 0;
  margin-right: 0;
  /* max-width: 100%; */
}

.creators .creatorCard p {
  margin: 0px;
  color: #382f70;
  font-family: Poppins, sans-serif;
  font-size: 0.9em;
  font-weight: 100;
  text-align: left;
  display: flex;
  flex-direction: row;
}

.teamName {
  font-size: 0.7em !important;
}

.memberCard {
  margin: 15px !important;
}

.team .memberCard a {
  text-decoration: none;
  color: #141414;
  opacity: 0.8;
  margin-right: -12px;
  transition: ease-out 0.4s;
}

.team .memberCard a:hover {
  transform: scale(1.2);
}

.team .memberCard {
  width: fit-content;
  min-width: 120px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 12px;
  padding-right: 40px;
  background: rgba(255, 255, 255, 0.4);
  border-radius: 65px;
  border-color: linear-gradient(90deg, #1eb0f6 6.32%, #2bd4df 100%);
  box-shadow: 0 7px 20px 0 rgba(0, 0, 0, 0.12);
}

.team .memberCard img {
  border-radius: 50%;
  width: 32px;
  height: 32px;
  overflow: hidden;
  flex-shrink: 0;
  /* max-width: 100%; */
}

.team .memberCard p {
  /* margin: 5px; */
  color: #382f70;
  font-family: Poppins, sans-serif;
  font-size: 0.9em;
  font-weight: 100;
  text-align: left;
  display: flex;
  flex-direction: row;
}

.login__action {
  position: relative;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

.login__heading {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  /* background: -webkit-linear-gradient(90deg, #1EB0F6 6.32%, #2BD4DF 100%); */
  /* color:red;
    background: -webkit-linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
	background-size: 400% 400%;
    animation: gradient 30s ease infinite;
    font-size: 2em; */
}

.login__buttons {
  margin-top: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.login__nameList {
  position: absolute;
  width: 100vw;
  bottom: 0;
}

.login__creators {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.login__team {
  /* position: fixed;
    bottom: 5%;
    left:47%; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.testi {
  display: flex;
  align-items: center;
  justify-content: center;
}

a {
  text-decoration: none;
  color: #141414;
  opacity: 0.8;
  margin: 3%;
}

#signIn {
  /* background: linear-gradient(90deg, #1EB0F6 6.32%, #2BD4DF 100%); */
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 30s ease infinite;
  padding: 1%;
  padding-left: 3%;
  padding-right: 3%;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  color: white;
  transition: ease-in-out 0.3s;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

#signIn:hover {
  transform: scale(1.05);
}

#guest {
  border-color: linear-gradient(90deg, #1eb0f6 6.32%, #2bd4df 100%);
  border-width: 5px;
  padding: 1%;
  padding-left: 3%;
  padding-right: 3%;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  color: linear-gradient(90deg, #1eb0f6 6.32%, #2bd4df 100%);
  transition: ease-in-out 0.3s;
}

#guest:hover {
  transform: scale(1.05);
}

.textCard2 {
  background: -webkit-linear-gradient(
    -45deg,
    #ee7752,
    #e73c7e,
    #23a6d5,
    #23d5ab
  );
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 400% 400%;
  animation: gradient 30s ease infinite;
  font-size: 4.5em;
}

.textCard3 {
  background: -webkit-linear-gradient(
    -45deg,
    #ee7752,
    #e73c7e,
    #23a6d5,
    #23d5ab
  );
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 400% 400%;
  animation: gradient 30s ease infinite;
  font-size: 1.5em;
}

@media only screen and (max-width: 500px) {
  .login__heading {
    font-size: 1em;
  }

  .login__testimonials {
    display: none;
    /* position: fixed;
        bottom: 3%;
        left:38%; */
  }

  /* .login__creators{    
        display: none;
    } */

  .testi .creatorCard p {
    display: none;
  }

  .testi .creatorCard a {
    display: none;
  }

  .testi .creatorCard img {
    margin-right: -15px;
  }

  .login__action {
    position: relative;
    top: 30%;
  }

  .textCard2 {
    line-height: 1.1;
    font-size: 4.1em;
    margin-bottom: 6%;
  }

  .textCard3 {
    font-size: 1.2em;
  }

  #signIn {
    padding: 3%;
    padding-left: 5%;
    padding-right: 5%;
  }

  #guest {
    padding: 3%;
    padding-left: 5%;
    padding-right: 5%;
  }
}
