.app{
    background-image: url('login_bg.jpeg');
    height: 100vh;
    width: 100vw;
    font-family: 'Poppins', sans-serif;    
}

#logo{
    margin: 2%;
    width: 7vw;
}


@media only screen and (max-width: 500px) {
    #logo{
        margin: 5%;
        width: 20vw;
    }
}
