.navigation {
  background: linear-gradient(90deg, #04abb0 6.32%, #03ccac 100%);
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  vertical-align: middle;
}

.nav_heading {
  color: white;
  text-align: center;
  font-size: 3rem;
  margin-top: 140px;
}

.nav_button_container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.nav_divider {
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 70%;
}

.nav_button {
  background: transparent;
  border: solid 2px white;
  border-radius: 5px;
  font-family: 'Poppins', sans-serif;
  font-size: 24px;
  color: white;
  width: 300px;
  padding: 12px 0;
  cursor: pointer;
  margin: 10px;
  transition: all 0.2s ease-in-out;
}

.nav_button:hover {
  background: rgba(0, 0, 0, 0.096);
}

.nav_button.active {
  background: white;
  font-weight: 900;
  color: #04abb0;
}

.scroll_arrow {
  width: 100vw;
}

.scroll_arrow svg {
  margin-top: 10px;
  width: 60px;
  height: 50px;
  stroke-width: 2px;
}

.scroll_arrow div {
  position: absolute;
  left: 50%;
}

.bounce {
  -moz-animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(30px);
  }
  60% {
    transform: translateY(30px);
  }
}

@media only screen and (max-width: 600px) {
  .nav_heading {
    font-size: 1.5rem;
    margin-top: 100px;
  }

  .nav_divider {
    flex: 1;
    margin-top: 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .scroll_arrow {
    width: 60px;
    height: 100px;
  }

  .scroll_arrow div {
    left: 0;
  }

  .nav_button_container {
    align-items: center;
  }

  .nav_button {
    font-size: 18px;
    width: 250px;
  }

  .nav_illustration img {
    display: block;
    max-height: 120px;
    margin-top: 20px;
  }
}
